.container {
  background: #fff;
  margin: 24px;
  padding: 24px;
}

.heading {
  font-size: 20px;
}

.tooltip {
  margin-left: 10px;
}

.submit {
  text-align: right;
  margin-top: 12px;
  width: 100%;
}

.secondaryHeading {
  font-size: 14px;
  font-weight: bold;
}

.title {
  width: 150px !important;
}

.widgetContainer {
  margin-left: 12px;
  margin-right: 12px;
  padding: 6px;
  border: 1px solid #f2f2f2;
}

.widgetButtons {
  text-align: right;
  margin: 6px;
}
