.container {
  background: #fff;
  padding: 48px;
}

.heading {
  font-size: 20px;
}

.submit {
  text-align: right;
  margin-top: 12px;
  width: 100%;
}

.widgetContainer {
  padding: 6px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  max-width: 80vw;
}

.widgetButtons {
  text-align: right;
  margin: 6px;
}

.commentContainer {
  margin-left: 6px;
  margin-right: 6px;
}

.editor {
  min-height: 70vh;
}
