.container {
  background: #fff;
  padding: 48px;
  min-height: 100vh;
}

.modalContainer {
  margin-top: -14%;
  margin-right: -7%;

}

.heading {
  font-size: 20px;
}

.submit {
  text-align: right;
  margin-top: 12px;
  width: 100%;
}

.widgetContainer {
  padding: 6px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  max-width: 80vw;
}

.widgetButtons {
  text-align: right;
  margin: 6px;
}

.commentContainer {
  margin-left: 6px;
  margin-right: 6px;
}

.editor {
  min-height: 70vh;
}
