.container {
  background: #ffffff;
  padding: 48px;
  min-height: 100vh;
}

.editorContainer {
  display: flex;
}

.editorContainerColumnLeft,
.editorContainerColumnRight {
}
.editorContainerColumnLeft {
  padding-right: 24px;
  flex: 3;
}
.editorContainerColumnRight {
  flex: 1;
}

.editorContainerInput {
  margin-bottom: 12px;
}

.editor {
  height: 500px;
  min-height: 500px;
}

.heading {
  font-size: 20px;
}

.submit {
  text-align: right;
  width: 100%;
}

.secondaryHeading {
  font-size: 14px;
  font-weight: bold;
}

.info {
  padding-top: 18px;
  padding-right: 12px;
}
