.container {
  background: #fff;
  margin: 24px;
  padding: 24px;
}

.heading {
  font-size: 20px;
}

.tooltip {
  margin-left: 10px;
}

.submit {
  text-align: right;
  margin-top: 12px;
  width: 100%;
}
