.footer {
  display: flex;
  justify-content: space-between;
}

.footerList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerColumn {
  display: flex;
  flex-direction: column;
}

.secondaryHeading {
  font-size: 14px;
  font-weight: bold;
}
