.container {
  background: #fff;
  min-height: 100vh;
  padding: 48px;
}

.heading {
  font-size: 20px;
}

.tooltip {
  margin-left: 10px;
}

.statusContainer {
  margin-bottom: 10px;
}

.loadingText {
  color: #00a8e6;
  margin-left: 8px;
}

.successText {
  color: #52c41a;
  margin-left: 8px;
}

.editorContainer {
  padding-right: 24px;
  width: 75%;
}

.editor {
  min-height: 70vh;
}

.CodeMirror-scroll {
  overflow: hidden !important;
}
