.container {
  background: #fff;
  min-height: 100vh;
  padding: 48px;
}

.heading {
  font-size: 20px;
}

.tooltip {
  margin-left: 10px;
}

.statusContainer {
}

.loadingText {
  color: #00a8e6;
  margin-left: 8px;
}

.successText {
  color: #52c41a;
  margin-left: 8px;
}

.tagContainer {

}

.editorContainer,
.info {
  padding-right: 24px;
  width: 75%;
}

.editor {
  min-height: 70vh;
}

.CodeMirror-scroll {
  overflow: hidden !important;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.tag {
  background: #000000;
  border-radius: 1em;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5em;
  padding: 0.2em 0.8em 0.1em;
  margin-left: 0.5em;
}

