.container {
 margin: auto
}

.header {
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #e2574c;
    width: 100%;
}
.warning {
    width: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;

}

.text {
 text-align: center;
 color: #e2574c;
}

.ant-btn-primary {
    background-color: #e2574c !important;
}