.container {
  padding: 48px;
  min-height: 100vh;
}

.snippet {
  white-space: pre-wrap;
  position: absolute;
  width: 100%;
  color: black;
  font-size: 12px;
  overflow: hidden;
}

.snippetContainer {
  /* padding: 10px; */
  height: 250px;
  overflow: hidden;
  position: relative;
}
